*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: white;
    padding: 10px;
}

#logo {
    vertical-align: middle;
}

#title {
    display: inline;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;;
    font-weight: bolder;
    vertical-align: middle;
}

/* Body */

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

.center-box {
    width: 70%;
    margin: auto;
    background-color: white;
}

/* Add-bar */

#add-bar {
    height: 50px;
    margin-top: 50px;
    margin-bottom: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.button {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 10px;
}

#add-task {
    background-color: #47ADF1;
    color: white;
    margin-left: 30px;
}

#add-section {
    color: lightgrey;
    border: 1px solid lightgrey;
}
/* Tasks section */

#task-box {
    height: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-sub {
    padding-top: 30px;
    padding-left: 30px;
}

.task-head {
    margin-bottom: 10px;
    font-weight: bolder;
}

.task {
    margin-bottom: 20px;
}

.task-done {
    color: green;
    border: 1px solid green;
    border-radius:50%;
    font-size: 8px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.task-not-done {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 8px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.category {
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
}

.editorial {
    background-color: #47ADF1;
}

.goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: #B0C926;
}
