*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    height: 70px;
    background-color: white;
    position: relative;
}

#logo {
    margin: 1%;
}

#title {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    position: absolute;
     top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Body */

body {
    background-color: #F6F8F9;
}

.center-box {
    width: 70%;
    margin: auto;
    background-color: white;
}

/* Add-bar */

#add-bar {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.button {
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 11px;
    margin-top: 15px;
}

#add-task {
    background-color: #47ADF1;
    color: white;
    margin-left: 5%;
}

#add-section {
    color: lightgrey;
    border: 1px solid lightgrey;
}
/* Tasks section */

#task-box {
    height: 600px;
}

.task-sub {
    padding-top: 30px;
    padding-left: 30px;
}

.task-head {
    margin-bottom: 10px;
}

.task {
    margin-bottom: 20px;
}

.task-done {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 4px;
    font-size: 11px;
}

.task-not-done {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 4px;
    font-size: 11px;
}

.category {
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 10px;
}

.editorial {
    background-color: #47ADF1;
}

.goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: #B0C926;
}